title = "Atuação"
url = "/atuacao"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<section class="section section--services">
	<div class="services__bg"></div>
	<section class="services">
		<div class="services__container">
			<aside class="services__column services__column--0">
				<article class="services__details grid__container">
					<div class="services__detailswrapper">
						<div class="column grid--12 grid__md--2 services__menucontainer">
							<ul class="services__icons">
								<li class="services__icon js-iconfamily">
									<img src="{{'assets/img/family-icon-alt.svg'|theme}}" alt="Empresas familiares">
								</li>
								<li class="services__icon js-iconenterprise">
									<img src="{{'assets/img/building-icon-alt.svg'|theme}}" alt="Empresas">
								</li>
								<li class="services__icon js-iconperson">
									<img src="{{'assets/img/user-icon-alt.svg'|theme}}" alt="Pessoas físicas">
								</li>
							</ul>
							<nav class="services__menu">
								<a href="#" class="services__menuitem services__menuitem--family">Empresas familiares</a>
								<a href="#" class="services__menuitem services__menuitem--enterprise">Empresas</a>
								<a href="#" class="services__menuitem services__menuitem--person">Pessoas físicas</a>
							</nav>
						</div>
						<section class="services__wrapper grid--12 grid__md--10 grid--nogutters js-family" data-content="family">
							{% include 'content/occfamily' %}
						</section>
						<section class="services__wrapper  grid--12 grid__md--10 grid--nogutters js-enterprise" data-content="enterprise">
							{% include 'content/occenterprise' %}
						</section>
						<section class="services__wrapper grid--12 grid__md--10 grid--nogutters js-person" data-content="person">
							{% include 'content/occperson' %}
						</section>
					</div>
					<footer class="services__footer">
						<div class="services__footerwrapper">
							<section class="services__footerleadin">
								<p>Gostaria de saber mais sobre esse assunto?</p>
								<div>
									<img src="{{ 'assets/img/arrow-occ.svg'|theme }}" alt="">
								</div>
							</section>
							<section class="services__footeritems">
								<div class="services__footeritem">
									<a class="type--center" href="http://blog.muraempresarial.com" target="_blank" title="Blog | Murakami & Cantú">
										<img class="services__footericon" src="{{ 'assets/img/pen-icon.svg'|theme }}" alt="">
										<span>BLOG</span>
									</a>
								</div>
								<hr>
								<div class="services__footeritem">
									<a href="/faq" style="text-align: center;">
										<span class="services__footerlabel services__footericon">F.A.Q</span>
										<strong>
											PERGUNTAS FREQUENTES
										</strong>
									</a>
								</div>
								<hr>
								<div class="services__footeritem">
									<a href="/#contato" class="type--center">
										<img class="services__footericon" src="{{ 'assets/img/mail-icon.svg'|theme }}" alt="">
										<span>
											CONTATO
										</span>
									</a>
								</div>
							</section>
						</div>
					</footer>
				</article>
			</aside>
		</div>
	</section>
</section>
