.icon {
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;

	&--arrowdown {
		background-image: url('../../img/arrowdown@2x.png');
		width: 24px;

		@media @md {
			background-image: url('../../img/arrowdown.png');
		}
	}
}
