<section class="section section--about">
	<div class="content__wrapper about">
		<div class="section__logo__bg">&nbsp;</div>
		<div class="about__wedge"></div>
		<div class="who__wrapper grid__container">
			<div class="grid--4 push__xs--1 push__xl--2">
				<h1 class="who__title type--right">Quem Somos</h1>
			</div>
			<div class="grid--8 grid--hiddensm">
				<p class="who__subtitle">
					Murakami e Cantú Advocacia e Consultoria Empresarial
				</p>
			</div>
			<div class="grid--11 push__xs--1 grid__sm--6 grid__xl--6">
				<p class="who__leadin">Localizada em Florianópolis, a Murakami e Cantú Advocacia e Consultoria Empresarial atua em todo estado de Santa Catarina, apresentando soluções jurídicas que se adaptem ao objetivo final do cliente.</p>
			</div>
		</div>
		<div class="grid__container">
			<div class="grid--11 push__xs--1 push__md--2 grid__md--9 grid__lg--7 push__lg--4 push__xl--3">
				<p class="about__copy">Somos formados por uma equipe com enorme experiência profissional e amplo conhecimento acadêmico multidisciplinar, com
					reconhecimento público no Brasil e, também, no exterior.
				</p>
			</div>
			<div class="grid--11 push__xs--1 push__md--2 grid__md--9 grid__lg--7 push__lg--4 push__xl--3">
				<p class="about__copy type__sm--bold">
					Focados na renovação da advocacia empresarial, acreditamos no relacionamento duradouro com o cliente, procurando apresentar soluções de curto, médio e longo prazo para os problemas diagnosticados.
				</p>
			</div>
		</div>
		<section class="grid__container">
			<div class="about__wrapper">
				<div class="grid--9 push--3 grid__md--7">
					<p class="about__copy about__item about__item--leadin ">
						Ser principal modelo e referência de escritório de advocacia.
					</p>
				</div>
				<section class="about__items__wrapper grid--12">
					<div class="about__items grid--3 grid__md--2 push__md--1">
						<span>Visão</span>
						<span>Missão</span>
						<span>Valores</span>
					</div>
					<div class="grid--9">
						<p class="about__copy about__item about__item--alt">
							Diagnosticar e resolver problemas de clientes, apresentando soluções de curto, médio e longo prazo, aptas a criar valor.
						</p>
					</div>
				</section>
				<div class="grid--9 push--3">
					<p class="about__copy about__item">
						Com conhecimento, comunicação, equilíbrio, reconhecimento e  transparência;
					</p>
				</div>

			</div>
		</section>
	</div>
</section>
