<section class="section">
	<section class="flex__container">
		<div class="grid__container">
			<div class="method method--section1 grid--11 grid__xl--8 pushxs__xs--1 push__xl--2">
				{% partial 'svg/horse' %}
				<header class="method__header grid--10 push__sm--1">
					<div class="method__headerwrapper method__headerwrapper--alt">
						<p class="method__sup grid__md--1">03</p>
						<div class="grid--10 grid__md--12">
							<p class="method__leadin">Estratégia</p>
							<p class="method__sub">
								preparação
							</p>
							<small class="method__sub method__sub--small"></small>
						</div>
					</div>
				</header>
				<h4 class="method__title grid--10 grid__lg--9 push__sm--1">Foco no objetivo e otimização de tempo.</h4>
				<p class="method__copy grid--12 grid__lg--9">
					Escolhida a melhor solução, articulamos a  estratégia para dar início à execução dos serviços contratados.

				</p>
				{% partial 'svg/lead' %}
			</div>
		</div>
	</section>
</section>

