<section class="section" id="method3">
	<section class="flex__container content__wrapper">
		<div class="grid__container">
			<div class="method method--section1 js--method3 grid--12 grid__xs--10 grid__xl--8 push__xs--1 push__xl--2">
				{% partial 'svg/horse' %}
				<header class="method__header grid--10 push__sm--1 js--horse">
					<div class="method__headerwrapper method__headerwrapper--alt">
						<p class="method__sup grid__md--1" id="number3">03</p>
						<div class="grid--10 grid__md--12 js--header js--header3">
							<p class="method__leadin">Estratégia</p>
							<p class="method__sub">
								preparação
							</p>
							<small class="method__sub method__sub--small"></small>
						</div>
					</div>
				</header>
				<div class="js--method3-content">
					<h4 class="method__title grid--10 grid__lg--9 push__sm--1 js--method3__title">Foco no objetivo e otimização de tempo.</h4>
					<p class="method__copy method__copy--3 grid--12 grid__lg--9">
						Escolhida a melhor solução, articulamos a  estratégia para dar início à execução dos serviços contratados.
					</p>
				</div>
				<div class="js--method3-lead method__lead">
					{% partial 'svg/lead' %}
				</div>
			</div>
		</div>
	</section>
</section>

