<section class="section" id="method4">
	<section class="flex__container content__wrapper">
		<div class="grid__container">
			<div class="method method--alt js--method4 method--last grid--12 grid__xs--11 grid__lg--11 grid__xl--8 push__xs--1 push__xl--2">
				<header class="method__header method__header--alt method__header--last grid--10">
					{% partial 'svg/building' %}
					<div class="method__headerwrapper">
						<p class="method__sup grid--2" id="number4">04</p>
						<div class="grid--10 js--header js--header4">
							<p class="method__leadin method__leadin--alt">Desenvolvimento</p>
							<p class="method__sub method__sub--alt">
								execução e acompanhamento
							</p>
							<small class="method__sub method__sub--alt method__sub--small"></small>
						</div>
					</div>
				</header>
				<div class="js--method4-content">
					<h4 class="js--building method__title method__title--alt method__title--last js--method4__title grid--12 grid__md--7 grid__xl--10 push__md--1 push__lg--4 push push__xl--1">Comunicação + Transparência</h4>
					<p class="method__copy method__copy--last method__copy--4 grid--12 grid__md--10 grid__lg--9 push__md--1 push__lg--3">
						Nesta fase, fazemos questão que o cliente acompanhe todo o desenvolvimento. A transparência e comunicação são essenciais para a correta entrega dos serviços.
					</p>
				</div>
			</div>
		</div>
	</section>
</section>

