<section class="section" id="method2">
	<section class="flex__container content__wrapper">
		<div class="grid__container">
			<div class="method method--alt js--method2 grid--12 grid__xs--10 grid__lg--11 grid__xl--8 push__xs--1 push__xl--2">
				<header class="method__header method__header--alt grid--10 ">
					{% partial 'svg/file' %}
					<div class="method__headerwrapper">
						<p class="method__sup grid--2" id="number2">02</p>
						<div class="grid--10 grid__md--12 js--header js--header2">
							<p class="method__leadin method__leadin--alt">Solução</h4>
							<p class="method__sub method__sub--alt">orçamento</p>
							<small class="method__sub method__sub--alt method__sub--small">Apresentação das possibilidades</small>
						</div>
					</div>
				</header>
				<div class="js--method2-content">
					<h4 class="method__title method__title--alt grid--12 grid__md--10 grid__xl--10 push__md--1 push__lg--4 push__xl--1 js--file js--method2__title">Em geral, não há apenas uma solução e sim uma variedade.</h4>
					<p class="method__copy method__copy--2 grid--12 grid__md--10 grid__lg--9 push__md--1 push__xl--3">
						Conhecendo a verdadeira causa do problema, apresentamos, através de orçamento, as possibilidades de soluções, que são oferecidas ao cliente conforme risco e possibilidade de êxito.
					</p>
				</div>
				<div class="js--method2-lead method__lead">
					{% partial 'svg/lead' %}
				</div>
			</div>
		</div>
	</section>
</section>
