<section class="section">
	<section class="flex__container">
		<div class="grid__container">
			<div class="method method--alt method--last grid--10 grid__lg--11 grid__xl--8 push__xs--1 push__xl--2">
				<header class="method__header method__header--alt method__header--last grid--10">
					{% partial 'svg/building' %}
					<div class="method__headerwrapper">
						<p class="method__sup grid--2">04</p>
						<div class="grid--10 ">
							<p class="method__leadin method__leadin--alt">Desenvolvimento</p>
							<p class="method__sub method__sub--alt">
								execução e acompanhamento
							</p>
							<small class="method__sub method__sub--alt method__sub--small"></small>
						</div>
					</div>
				</header>
				<h4 class="method__title method__title--alt method__title--last grid--12 grid__md--10 grid__xl--10 push__md--1 push__lg--4 push push__xl--1">Comunicação + Transparência</h4>
				<p class="method__copy method__copy--last grid--12 grid__md--10 grid__lg--9 push__md--1 push__lg--3">
					Nesta fase, fazemos questão que o cliente acompanhe todo o desenvolvimento. A transparência e comunicação são essenciais para a correta entrega dos serviços.
				</p>
			</div>
			<div class="grid--10 grid__lg--8 push--2 push__md--1 grid--center method__action">
				<p class="leadin leadin--md">Agora que já conhece nosso trabalho.</p>
				<p class="leadin leadin--sm">Agora que já conece nosso modo de trabalho, conheça nossa</p>
				<div class="method__cta">
					<a  href="">
						<span class="cta__copy cta__copy--md">clique aqui e conheça nossa área de atuação.</span>
						<span class="cta__copy cta__copy--sm">área de atuação</span>
					</a>
				</div>
			</div>
		</div>
	</section>
</section>

