<section class="section section--occupation" id="occupation">
	<div class="occ__bg">
		<div class=" occ__bg--header"></div>
	</div>
	<div class="relative occ__wedge">

		<div class="">
			<header class="occ__header grid__container">
				<h2 class="grid--10 grid__md--7 grid__lg--7 grid__xl--10 push--2 push__xs--3 push__md--3 push__lg--3 push__xl--3 occ__title animated fade__in">
					Nossas soluções vão lhe ajudar a ter segurança jurídica. Somos focados na produtividade e eficiência.
				</h2>
			</header>
			<div class="grid__container">
				<div class="grid--12">
					<h1 class="type--center occ__subtitle">O que fazemos</h1>
				</div>
			</div>

			<article class="grid__container">
				<div class="grid--12 grid--center occ__items">
					<figure class="occ__item animated slide__upin" data-target="family">
						<img class="item__icon" src="{{ 'assets/img/family-icon.svg'|theme }}" alt="Advocacia Empresarial em Santa Catarina">
						<figcaption class="item__content">
							<h4 class="item__title">
								Empresas Familiares
							</h4>
							<p class="item__leadin">Sua empresa em harmonia com sua família.</p>
							<p class="item__copy">Foco em estruturação e gestão de empresas familiares.</p>
							<a href="atuacao/#family" class="item__link">Leia mais</a>
						</figcaption>
					</figure>
					<figure class="occ__item animated slide__upin" data-target="enterprise">
						<img class="item__icon" src="{{ 'assets/img/building-icon.svg'|theme }}" alt="Advocacia Empresarial em Florianópolis">
						<figcaption class="item__content">
							<h4 class="item__title">Empresas</h4>
							<p class="item__leadin">Sua empresa protegina juridicamente.</p>
							<p class="item__copy">
								Conte com nossa expertise.
								<br>
								<br>
								<br>
							</p>
							<a href="/atuacao/#enterprise" class="item__link">Leia mais</a>
						</figcaption>
					</figure>
					<figure class="occ__item animated slide__upin" data-target="person">
						<img class="item__icon item__icon--last" src="{{ 'assets/img/user-icon.svg'|theme }}" alt="Advocacia Empresarial em Santa Catarina">
						<figcaption class="item__content">
							<h4 class="item__title">Pessoas físicas</h4>
							<p class="item__leadin">Soluções para executivos, empresários em investidores.</p>
							<p class="item__copy">Nossa metodologia única aplicada a pessoas físicas</p>
							<a href="atuacao/#personal" class="item__link">Leia mais</a>
						</figcaption>
					</figure>
				</div>
			</article>
		</div>
	</div>
</section>
