<div class="column services__content services__content--head grid--12 grid__xs--10 grid__lg--10">
	<div class="services__titlewrapper">
		<img src="{{'assets/img/building-icon-alt.svg'|theme}}" alt="Empresas">
		<h2 class="services__title services__title--alt">Empresas</h2>
	</div>
	<h3 class="services__subtitle">Com profissionais especializados na área do direito empresarial, apresentamos soluções específicas também para os mais diversos setores e classes empresariais:
	</h3>
</div>
<section class="services__contentwrapper">
	<div class="services__content row grid--12 grid__xs--10 grid__lg--11">
		<div class="grid__md--5 grid__lg--4">
			<ul class="services__contentlist ">
				<li>Agronegócio, Agrícolas e Florestais</li>
				<li>Agências, Representantes Comerciais e Concessionárias</li>
				<li>Distribuidoras, Transportadoras e Logísticas</li>
				<li>Fornecedoras de Produtos e Serviços em geral</li>
				<li>Imobiliárias, Construtoras e Incorporadoras</li>
				<li>Infraestrutura</li>
			</ul>
		</div>
		<div class="grid__md--5 grid__lg--4 push__md--1">
			<ul class="services__contentlist">
				<li>Investimentos</li>
				<li>Multinacionais</li>
				<li>Startups</li>
				<li>Tecnologia de Informação</li>
				<li>Franquias</li>
				<li>Entre outras empresas e setores</li>
			</ul>
		</div>
	</div>
</section>
