<div class="column occ__content occ__content--head grid--12 grid__md--10">
	<div class="occ__titlewrapper">
		<img src="{{'assets/img/building-icon-alt.svg'|theme}}" alt="Empresas">
		<h2 class="occ__title occ__title--alt">Empresas</h2>
	</div>
	<h3 class="occ__subtitle">Com profissionais especializados na área, apresentamos soluções específicas para advocacia e consultoria empresarial.</h3>
	<h3 class="occ__subtitle">
		Atuando diretamente com as mais variadas espécies e classes empresariais.
	</h3>
</div>
<section class="grid--12 occ__contentwrapper" style="margin-bottom: 13.2rem;">
	<div class="occ__content row push__lg--1">
		<div class="occ__content occ__content--column occ__content--half">
			<ul class="occ__contentlist">
				<li>Infraestrutura</li>
				<li>Investimentos</li>
				<li>Multinacionais</li>
				<li>Prestadoras de serviço</li>
				<li>Startups</li>
				<li>Tecnologia de Informação</li>
				<li>Transportadoras e Logísticas</li>
				<li>Franquias</li>
			</ul>
		</div>
		<div class="occ__content occ__content--column occ__content__column occ__content--half">
			<ul class="occ__contentlist">
				<li>Agronegócio</li>
				<li>Agências, Representantes Comerciais e Distribuidoras</li>
				<li>Fornecedoras de bens de consumo</li>
				<li>Imobiliárias, Construtoras e Incorporadoras</li>
				<li>Entre outras empresas</li>
			</ul>
		</div>
	</div>
</section>
