<div class="column services__content grid--12 grid__xs--11 grid__sm--10 grid__md--11">
	<div class="services__titlewrapper">
		<img src="{{'assets/img/family-icon-alt.svg'|theme}}" alt="Advocacia Empresarial em Florianópolis">
		<h2 class="services__title services__title--alt">Empresas familiares</h2>
	</div>

	<h3 class="services__subtitle">Em todo mundo, as empresas familiares correspondem a mais de 80% das empresas existentes. Destas, pouco menos de 30% resistem à sucessão do patriarca fundador.</h3>
	<p class="services__copy">A grande causa disso se dá pela má estruturação destas empresas, que se deixa contaminar por problemas familiares gerados pela falta de comunicação e falta de convergência de interesses. Não se trata de profissionalização da empresa familiar, mas sim de educação e criação de culturas que poderá ensejar na profissionalização, tudo a depender da vontade da família.</p>
</div>
<section class="services__contentwrapper services__contentwrapper--alt">
	<div class="services__content row grid--12 grid__xs--11 grid__sm--11 grid__md--12 grid__lg--11 grid__md--nogutters">
		<h3 class="services__subtitle services__subtitle--alt">
			Nossas soluções para as empresas familiares envolvem a estruturação e continuidade destas através da governança corporativa, governança familiar e governança jurídica.
		</h3>
	</div>
	<div class="services__content row grid--12 grid__xs--11 grid__sm--11 grid__md--12 grid__lg--11 grid--nogutters">
		<div class="services__content services__content--column grid--12 grid__lg--4">
			<h4 class="services__title services__title--column">
				Governança corporativa
			</h4>
			<p class="services__copy">
				É um conjunto de atitudes que visa a criação de regras corporativas com objetivo de melhorar o resultado da empresa através da transparência e comunicação, cria-se uma estruturação corporativa com regras a serem observadas por quaisquer envolvido (sócios, conselheiros, diretores, fiscalizadores, controle, clientes, fornecedores, entre outros).
			</p>
		</div>
		<div class="services__content services__content--column grid--12 grid__lg--4 ">
			<h4 class="services__title services__title--column">
				Governança familiar
			</h4>
			<p class="services__copy services__copy--alt">
				É o sistema pelo qual se cria regras dentro da própria família, com o objetivo único de melhorar o relacionamento familiar com a criação de estruturas dinâmicas de comunicação que facilitam a convergência de interesses.
			</p>
		</div>
		<div class="services__content services__content--column grid--12 grid__lg--4 ">
			<h4 class="services__title services__title--column">
				Governança jurídica
			</h4>
			<p class="services__copy services__copy--alt">
				É a sustentação jurídica que dá segurança ao conjunto de regras criadas pela governança familiar e corporativa, sempre respeitando os costumes e legislação local, incorporando melhores estratégias de planejamento societário, tributário e sucessório, com formação ou não de <a href="/faq">holdings familiares e patrimoniais.</a>
			</p>
		</div>
	</div>
</section>
