<div class="column occ__content occ__content--head grid--12 grid__md--9">
	<div class="occ__titlewrapper">
		<img src="{{'assets/img/family-icon-alt.svg'|theme}}" alt="Empresas familiares">
		<h2 class="occ__title  occ__title--alt">Empresas familiares</h2>
	</div>

	<h3 class="occ__subtitle">Em todo mundo, as empresas familiares correspondem a mais de 60% das empresas existentes. Destas, pouco menos de 10% resistem à sucessão do patriarca fundador.</h3>
	<p class="occ__copy">Grande causa disso se dá pela má estruturação da empresa familiar, que deixa se contaminar por problemas familiares ligados à falta de comunicação e falta de convergência de interesses. Não se trata de profissionalização da empresa familiar, mas sim de educação e criação de culturas que poderá gerar ou não a sua profissionalização, tudo a depender da vontade da família.</p>
</div>
<section class="grid--12 occ__contentwrapper occ__contentwrapper--alt">
	<div class="occ__content row">
		<h3 class="occ__subtitle occ__subtitle--alt">
			Nossas soluções para as empresas familiares envolvem a estruturação e continuidade de Empresas Familiares através da governança corporativa, governança familiar e governança jurídica.
		</h3>
	</div>
	<div class="occ__content row">
		<div class="occ__content occ__content--column">
			<h4 class="occ__title occ__title--column">
				Governança corporativa
			</h4>
			<p class="occ__copy occ__copy--alt">
				É um conjunto de atitudes que visa a criação de regras corporativas com objetivo de melhorar o resultado da empresa através da transparência e comunicação, cria-se uma estruturação corporativa com regras a serem observadas por quaisquer envolvido (sócios, conselheiros, diretores, fiscalizadores, controle, clientes, fornecedores, entre outros).
			</p>
		</div>
		<div class="occ__content occ__content--column">
			<h4 class="occ__title occ__title--column">
				Governança familiar
			</h4>
			<p class="occ__copy occ__copy--alt">
				É o sistema pelo qual se cria regras dentro da própria família, com o objetivo único de melhorar o relacionamento familiar com a criação de estruturas dinâmicas de comunicação que facilitam a convergência de interesses.
			</p>
		</div>
		<div class="occ__content occ__content--column">
			<h4 class="occ__title occ__title--column">
				Governança jurídica
			</h4>
			<p class="occ__copy occ__copy--alt">
				É a sustentação jurídica que dá segurança ao conjunto de regras criadas pela governança familiar e corporativa, sempre respeitando os costumes e legislação local, incorporando melhores estratégias de planejamento societário, tributário e sucessório, com formação ou não de <a href="/faq">holdings familiares e patrimoniais.</a>
			</p>
		</div>
	</div>
</section>
