<div class="column occ__content occ__content--head grid--12 grid__md--8">
	<div class="occ__titlewrapper">
		<img src="{{'assets/img/user-icon-alt.svg'|theme}}" alt="Pessoas físicas">
		<h2 class="occ__title  occ__title--alt">Pessoas físicas</h2>
	</div>

	<h3 class="occ__subtitle">Atuamos diretamente, também, com pessoas físicas, patrocinando grandes causas, envolvendo alta diretoria executiva de empresas, empresários, e investidores, nas seguintes áreas:</h3>
</div>
<section class="grid--12 grid--nogutters grid__lg--8 push__md--1 occ__contentwrapper occ__contentwrapper--notop">
	<div class="occ__content row">
		<div class="occ__content occ__content--column occ__content--half">
			<ul class="occ__contentlist">
				<li>Agronegócio</li>
				<li>Contratual</li>
				<li>Família e Sucessão</li>
				<li>Imobiliário</li>
				<li>Penal Empresarial</li>
			</ul>
		</div>
		<div class="occ__content occ__content--column occ__content--half">
			<ul class="occ__contentlist">
				<li>Propriedade Intelectual</li>
				<li>Proteção Patrimonial</li>
				<li>Comerciais e Distribuidoras;</li>
				<li>Tributário</li>
			</ul>
		</div>
	</div>
</section>
