<div class="column services__content services__content--head grid--12 grid__xs--10 grid__lg--11">
	<div class="services__titlewrapper">
		<img src="{{'assets/img/user-icon-alt.svg'|theme}}" alt="Advocacia Empresarial em Santa Catarina">
		<h2 class="services__title  services__title--alt">Pessoas físicas</h2>
	</div>

	<h3 class="services__subtitle">Atuamos diretamente, também, com pessoas físicas, patrocinando grandes causas, envolvendo alta diretoria executiva de empresas, empresários, e investidores, nas seguintes áreas:</h3>
</div>
<section class="services__contentwrapper services__contentwrapper--notop">
	<div class="services__content row grid--12 grid__xs--10 grid__lg--11">
		<div class="grid__md--5 grid__lg--4">
			<ul class="services__contentlist">
				<li>Agronegócio</li>
				<li>Contratual</li>
				<li>Família e Sucessões</li>
				<li>Imobiliário</li>
				<li>Penal Empresarial</li>
			</ul>
		</div>
		<div class="grid__md--5 grid__lg--4 push__md--1">
			<ul class="services__contentlist">
				<li>Propriedade Intelectual</li>
				<li>Proteção Patrimonial</li>
				<li>Trabalhista</li>
				<li>Tributário</li>
			</ul>
		</div>
	</div>
</section>
