<aside class="services__column services__column--0">
	<article class="services__details grid__container">
		<div class="services__bg" style="background-image: url({{'assets/img/services-bg-alt.svg'|theme}})"></div>
		<div class="services__detailswrapper">
			<div class="column grid--12 grid__md--2 services__menucontainer">
				<ul class="services__icons">
					<li class="services__icon js-iconfamily services__icon--active">
						<img src="{{'assets/img/family-icon-alt.svg'|theme}}" alt="Empresas familiares">
					</li>
					<li class="services__icon js-iconenterprise">
						<img src="{{'assets/img/building-icon-alt.svg'|theme}}" alt="Empresas">
					</li>
					<li class="services__icon js-iconperson">
						<img src="{{'assets/img/user-icon-alt.svg'|theme}}" alt="Pessoas físicas">
					</li>
				</ul>
				<nav class="services__menu">
					<a href="" class="services__menuitem services__menuitem--family">Empresas familiares</a>
					<a href="" class="services__menuitem services__menuitem--enterprise">Empresas</a>
					<a href="" class="services__menuitem services__menuitem--person">Pessoas físicas</a>
					<a href="#" class="services__back" alt="Voltar"></a>
				</nav>

			</div>
			<section class="services__wrapper grid__lg--9 js-family" data-content="family">
				{% include 'content/occfamily' %}
			</section>
			<section class="services__wrapper  grid__lg--9 js-enterprise" data-content="enterprise">
				{% include 'content/occenterprise' %}
			</section>
			<section class="services__wrapper grid__lg--9 js-person" data-content="person">
				{% include 'content/occperson' %}
			</section>
		</div>
		<footer class="services__footer">
			<section class="services__footerleadin">
				<p>Gostaria de saber mais sobre esse assunto?</p>
				<div>
					<img src="{{ 'assets/img/arrow-occ.svg'|theme }}" alt="">
				</div>
			</section>
			<section class="services__footeritems">
				<div class="services__footeritem">
					<img class="services__footericon" src="{{ 'assets/img/pen-icon.svg'|theme }}" alt="Advocacia Empresarial em Santa Catarina">
					<span>BLOG</span>
				</div>
				<hr>
				<div class="services__footeritem">
					<a href="/faq" style="text-align: center;">
						<span class="services__footerlabel services__footericon">F.A.Q</span>
						<strong>
							PERGUNTAS FREQUENTES
						</strong>
					</a>
				</div>
				<hr>
				<div class="services__footeritem">
					<img class="services__footericon" src="{{ 'assets/img/mail-icon.svg'|theme }}" alt="Advocacia Empresarial em Florianópolis">
					<span>
						CONTATO
					</span>
				</div>
			</section>
		</footer>
	</article>
</aside>
