[viewBag]
==
<section class="section section--2">
	<div class="card">
		<h2 class="card__title">Conhe&ccedil;a a equipe</h2>
		<figure class="member">
			<img src='http://fakeimg.pl/220x120?text=Hell&font=bebas' alt='Dummy' class="member__photo"/>
			<figcaption class="member__caption">
				<h2 class="member__name">
					Eduardo Jacobs Murakami
				</h2>
				<p class="member__title">advogado consultor</p>
				<p class="member__short">
					Experiência internacional, sendo conselheiro e consultor jurídico de empresas sediadas no exterior.
				</p>
			</figcaption>
		</figure>
		<hr>
		<section class="card__content">
			<div class="card__column">
				<p class="card__info">
					Mestre em Gestão Estratégica de Empresas Familiares pela Universidad Europea Miguel de Cervantes.
				</p>
				<p class="card__info">
					Pós-graduando em Direito Imobiliário Aplicado pela EPD.
				</p>
				<p class="card__info">
					Pós-graduado em Direito Empresarial e dos Negócios pela UNIVALI.
				</p>
				<p class="card__info">
					Bacharel em Direito pelo CESUSC – FCSF.
				</p>
			</div>
			<hr />
			<div class="card__column">
				<p class="card__info">
					Membro da Ordem dos Advogados do Brasil (OAB/SC 31.329).
				</p>
				<p class="card__info">
					Membro Associado do Instituto Brasileiro de Governança Corporativa (IBGC).
				</p>
				<p class="card__info">
					Membro Profissional do Family Firm Institute, Inc. (FFI).
				</p>
				<p class="card__info">
					Premiado no II Prêmio Libertas, promovido pelo Ministério de Justiça e UNODC.
				</p>
			</div>
		</section>
		<section class="card__footer">
			<a class="card__link" href="mailto:eduardo@muraempresiarial.com.br">eduardo@muraempresiarial.com.br</a>
			<a class="card__link" href="call:47991796790">47.991796790</a>
			<a class="card__link" href="http:www.linkedin.com.br"><i class="icon icon--linkedin"></i></a>
		</section>
	</div>
</section>
