.logo {
	min-width: 2.6rem;
	height: 3.3rem;

	@media @sm {
		margin-top: 3rem;
		width: 23.5rem;
		height: 8rem;
		margin-top: 3rem;
	}

	@media @md {
		width: 25.8rem;
	}

	.logo__image {
		display: none;
		@media @md {
			display: block;
		}
		&--mb {
			display: block;
			@media @md {
				display: none;
			}
		}
	}

	&--faq {
		width: 9rem;
		height: 3.3rem;

		@media @sm {
			margin-top: 3rem;
			width: 36.4rem;
			height: 6.7rem;
		}

		@media @lg {
			width: 37.8rem;
		}
	}
}
