.bigmac {
	@media @lg {
		display: none;
	}

	&--forfaq {
		display: block !important;
	}

	&:before {
		display: none;
	}

	.nav__icon {
		width: 25px;
		height: 20px;
		position: relative;
		transform: rotate(0deg);
		transition: 380ms ease-in-out;
		cursor: pointer;

		@media @md {
			width: 30px;
			height: 25px;
		}

		@media @lg {
			margin-left: 5.8rem;
			margin-top: 0.5rem;
		}

		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background-color: @regent-gray;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: 220ms ease-in-out;
			margin-left: 0;
			border-radius: 0;

			&:nth-child(1) {
				top: 0;
				transform-origin: left center;
			}

			&:nth-child(2) {
				top: 8px;
				transform-origin: left center;
			}

			&:nth-child(3) {
				top: 16px;
				transform-origin: left center;
			}
		}

		&--open {

			@media @lg {
				margin-top: 0;
			}

			span {
				&:nth-child(1) {
					transform: rotate(45deg);
					top: 0;
					left: 8px;
					background: @font-color-mobile-menu;
				}

				&:nth-child(2) {
					width: 0%;
					opacity: 0;
					background: @font-color-mobile-menu;
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
					top: 18px;
					left: 8px;
					background: @font-color-mobile-menu;

					@media @md {
						top: 21px;
					}
				}
			}
		}

		&--hidden {
			transform: scale(0);
		}

		&--invisible {
			visibility: hidden;
		}


	}

	&--fixedmenu {
		display: block;

		@media @lg {
			// margin-top: 0.8rem;
		}

		& > .nav__icon {
			height: 16px;

			span {
				background-color: @regent-gray;
			}

			&--alt {
				& > span {
					background: #44D5C3 !important;
				}
			}
		}


	}
}
