// ==========================================================================
// Navigation (nav)
// ==========================================================================

// Navigation
// ==========================================================================
// Example HTML:
// <div class="nav">
// 	...
// </div>

.menu__wrapper {
	height: 75px;
	width: 100%;
	display: flex;
	align-items: center;

	// @media @md {
	// 	height: 153px;
	// }
}

.nav {
	width: 100%;

	@media @md {
		margin-top: 30px;
	}

	.menu {
		display: none;

		@media @md {
			display: block;
		}

		.nav__navbar {
			.nav__item {
				float: left;

				&:not(:first-child) {
					margin-left: 24px;
				}

				a {
					color: @font-link;
					font-family: @font-montserrat;
					font-weight: 300;
					text-transform: uppercase;
				}

				&:before {
					content: '';
					display: block;
					width: 0;
					height: 2px;
					background-color: @font-link-hover;
					transition: width 220ms ease-out;
				}

				&:hover {
					a {
						color: @font-link-hover;
					}

					&:before {
						width: 24px;
					}
				}

				&--active {
					a {
						color: @font-link-hover;
					}

					&:before {
						width: 24px;
					}
				}
			}
		}

		&--mobile {
			position: fixed;
			z-index: 10;
			background-color: @color-mobile-header;
			width: 100vw;
			height: 100vh;
			display: flex;
			top: 70px;
			left: 0;
			flex-direction: column;
			padding-top: 52px;
			transform: translate3d(0, 100%, 0);
			opacity: 0;
			transition: all 320ms ease-in-out;

			.menu__items {
				display: flex;
				flex-direction: column;

				.menu__item {
					display: block;
					font-family: @font-montserrat;
					font-size: 25px;
					line-height: 38px;
					color: @font-color-mobile-menu;
					text-transform: uppercase;
					font-weight: 600;
					margin-bottom: 12px;

					&--active {
						&:before {
							content: '';
							display: block;
							width: 24px;
							height: 4px;
							background-color: @font-link-hover;
							transition: width 220ms ease-out;
						}
					}
				}
			}

			&--open {
				transform: translate3d(0, 0, 0);
				opacity: 1;
			}
		}
	}
}
