// ==========================================================================
// Navigation (nav)
// ==========================================================================

// Navigation
// ==========================================================================
// Example HTML:
// <div class="nav">
// 	...
// </div>

.menu__wrapper {
	height: 75px;
	width: 100%;
	display: flex;
	align-items: center;

	// @media @md {
	// 	height: 153px;
	// }
}

.nav {
	width: 100%;

	@media @md {
		margin-top: 30px;
	}

	.menu {
		display: none;

		@media @lg {
			display: block;
			position: relative;
			overflow: hidden;
			float: right;
		}

		.nav__navbar {
			.nav__item {
				float: left;

				&:not(:first-child) {
					margin-left: 24px;
				}

				a {
					color: @font-link;
					font-family: @font-montserrat;
					font-weight: 300;
					text-transform: uppercase;
				}

				&:before {
					content: '';
					display: block;
					width: 0;
					height: 2px;
					background-color: @font-link-hover;
					transition: width 220ms ease-out;
				}

				&:hover {
					a {
						color: @font-link-hover;
					}

					&:before {
						width: 24px;
					}
				}

				&--active {
					a {
						color: @font-link-hover;
					}

					&:before {
						width: 24px;
					}
				}
			}
		}

		&--mobile {
			position: absolute;
			z-index: -10;
			background-color: @color-mobile-header;
			width: 100vw;
			height: 100vh;
			display: flex;
			top: 70px;
			left: 0;
			flex-direction: column;
			padding-top: 52px;
			transform: translate3d(0, 100%, 0);
			opacity: 0;
			transition: transform 320ms ease-in-out, opacity 320ms ease-in-out;

			.menu__items {
				display: flex;
				flex-direction: column;

				.menu__item {
					display: block;
					font-family: @font-montserrat;
					font-size: 40px;
					line-height: 80px;
					color: @font-color-mobile-menu;
					text-transform: uppercase;
					font-weight: 600;
					position: relative;
					z-index: 1;
					transform: translate3d(0, 100%, 0);
					opacity: 0;
					transition: all 280ms @deceleration-curve;

					&:after {
						position: absolute;
						left: 0;
						bottom: 20px;
						content: '';
						display: block;
						width: 0;
						height: 24px;
						background-color: @font-link-hover;
						transition: width 420ms @deceleration-curve;
						z-index: -1;
					}

					&:hover {
						&:after {
							width: 84px;
						}
					}

					&--active {
						&:after {
							width: 84px;
						}
					}

					&--open {
						transform: translate3d(0, 0, 0);
						opacity: 1;
						display: block;
					}
				}
			}

			&--open {
				transform: translate3d(0, 0, 0);
				position: fixed;
				opacity: 1;
				z-index: 1;
			}
		}
	}
}
