@import '../variables.less';

.section {
	min-height: 768px;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&.section--0 {
		background-image: url('../../img/home-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -115px;
		overflow: hidden;
		height: 100vh;

		.section__logo__bg {
			position: relative;
			z-index: 1;
			left: 53%;
			background-image: url('../../img/home-bg-asset.png');
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			width: 100%;
			height: 100%;
			top: 120px;

			@media @md {
				background-size: contain;
				left: 57%;
				top: 195px;
			}
		}

		.title {
			width: 80%;
			color: #44d5c3;
			font-family: @font-playfair;
		}

		.leadin {
			width: 64%;
			margin-bottom: 35px;
			position: relative;
			z-index: 3;

			@media @md {
				width: 44%;
			}
		}

		.leadin__shadow {
			background-image: url('../../img/shadow.png');
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 188px;
			position: absolute;
			z-index: 2;
			left: -90px;
			margin-top: -75px;

			@media @md {
				height: 304px;
				width: 369px;
				left: 12%;
				margin-top: -75px;
			}
		}

		.scroll__down {
			display: flex;
			justify-content: center;
			width: 100%;
			position: relative;
			z-index: 3;
		}
	}

	.section__overlay {
		position: absolute;
		width: 100vw;
		height: 100vh;

		img {
			position: absolute;
			left: 50vw;
			top: 25%;

			@media @md {
				right: 0;
				bottom: 0;
			}
		}
	}

	&.section--1 {
		display: block;
	}
}
