@import '../variables.less';

.section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	&.section--0 {
		background-image: url('../../img/home-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -115px;
		overflow: hidden;

		height: 100vh;

		@media @md {
			min-height: 900px;
		}

		.section__logo__bg {
			position: absolute;
			z-index: 1;
			left: 53%;
			background-image: url('../../img/home-bg-asset.png');
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			width: 100%;
			height: 100%;
			top: 120px;
			z-index: 0;

			@media @md {
				background-size: contain;
				left: 57%;
				top: 195px;
			}
		}

		.title__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			z-index: 2;

		}

		.title {
			color: #44d5c3;
			font-family: @font-playfair;
			font-style: italic;
			position: relative;
			z-index: 2;
			display: block;
			margin-right: 44px;
			width: 65%;

			@media @md {
				width: 55%;
			}

			@media @lg {
				width: 35%;
			}
		}

		.leadin {

			margin-bottom: 35px;
			position: relative;
			z-index: 3;

			@media @md {
				display: block;
				margin-right: 45px;
			}
		}

		.leadin__shadow {
			background-image: url('../../img/shadow.png');
			background-repeat: no-repeat;
			background-size: cover;
			width: 285px;
			height: 188px;
			position: absolute;
			z-index: 2;
			left: 0;
			margin-top: -68px;
			margin-left: -45px;

			@media @xs {
				margin-left: -205px;
				left: 50%;
			}

			@media @sm {

				margin-top: -75px;
			}

			@media @md {
				height: 304px;
				width: 369px;
				margin-top: -78px;
				left: 50%;
				margin-left: -295px;
			}

			@media @lg {
				left: 44rem;
				left: 50%;
				margin-left: -295px;
			}

			@media @xl {
				left: 50%;
				margin-left: -294.5px;
			}
		}

		.scroll__down {
			display: block;
			width: 60px;
			position: relative;
			z-index: 3;
			margin: 0 auto;
			transform: translate3d(0, -100%, 0);
			opacity: 0;
			animation-delay: 1.5s;
			animation-duration: 650ms;

			i {
				pointer-events: none;
			}
		}
	}

	.section__overlay {
		position: absolute;
		width: 100vw;
		height: 100vh;

		img {
			position: absolute;
			left: 50vw;
			top: 25%;

			@media @md {
				right: 0;
				bottom: 0;
			}
		}
	}

	&.section--about {
		display: block;


	}

	&.section--team {
		background-color: #f1f1f1;
		display: block;
		padding-bottom: 40px;
		position: relative;
		overflow: inherit;
		height: 175vh;

		@media @xs {
			height: 145vh;
		}

		@media @md {
			padding-bottom: 110px;
			margin-top: -20px;
			height: 87vh;
			min-height: 830px;
			overflow: inherit;
		}

		@media @lg {
			min-height: 940px;
		}

		@media @xl {
			max-height: 940px;
		}

		.container {
			position: relative;
		}
	}

	.team__sidelogo {
		position: absolute;
		bottom: 0;
		left: 88px;
		background-image: url('../../img/logo-2.png');
		background-repeat: no-repeat;
		background-size: contain;
		width: 124px;
		height: 165px;
		transform: translate3d(0, 300px, 0);

	}

	.team__bg {
		position: absolute;
		top: 50%;
		right: 0;
		background-image: url('../../img/team-bg.png');
		background-repeat: no-repeat;
		background-size: contain;
		width: 491px;
		height: 284px;
		display: block;
		z-index: 0;
		display: none;

		@media @sm {
			display: block;
		}
	}

	&--method {
		background-color: #50E3D1;
		position: relative;
		padding-bottom: 5.4rem;
		justify-content: flex-start;
		min-height: 440px;
		padding-top: 90px;
		max-width: 100%;
		overflow-y: visible;

		@media @md {
			height: 735px;
			padding-top: 145px;
		}

		@media @lg {
			min-height: 735px;
			height: 90vh;
		}

		.method__content {
			position: relative;
			z-index: 5;
			order: 2;

			@media @md {
				order: 1;
			}
		}


		.title {
			clear: both;
			margin-top: 24px;
			color: @blue-dianne;
			text-transform: none;


			@media @md {
				font-size: 45px;
				line-height: 50px;
			}

			@media @lg {
				font-size: 50px;
				line-height: 56px;
			}
		}

		.copy {
			margin-top: 28px;
			font-weight: 300;

			@media @md {
				font-size: 17px;
				color: #233F51;
				line-height: 24px;
			}

			@media @lg {

				font-size: 18px;
				line-height: 28px;
			}

		}
	}


	&--occupation {
		@media @lg {
			margin-top: 39rem;
		}
		&:before {
			position: absolute;
			left: -130px;
			bottom: 22px;
			content: '';
			display: block;
			width: 0;
			height: 0;
			border: 0 solid transparent;
			border-bottom-width: 0px;
			border-top-width: 480px;
			border-left: 280px solid #44D5C3;

			@media @md {
				left: 0;
				bottom: 80px;
			}
		}
	}

	&--services {
		background-image: url('../../img/occupation-bg-md-alt.jpg');

		@media @lg {
			background-image: url('../../img/occupation-bg.jpg');
		}
		.services__bg {
			position: absolute;
			top: 0;

			background-repeat: no-repeat;
			margin-top: -7rem;
			width: 100%;
			height: 16rem;
			z-index: 3;
			display: none;

			@media @md {
				height: 26rem;
				background-image: url('../../img/services-bg-md.png');
				background-size: cover;
				display: block;
			}

			@media @lg {
				background-image: url('../../img/services-bg.png');
				height: 31rem;
				display: block;
			}
		}
	}

	&--contact {
		background-image: url('../../img/contact-bg.jpg');
		background-size: cover;
		background-position: top left;
		background-repeat: no-repeat;
		padding-top: 6.4rem;
		padding-bottom: 6.4rem;

		.title {
			color: @laser;
			font-weight: 800;

		}
	}

	&--news {
		background-image: url('../../img/faq-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 51.6rem;
		position: relative;
		margin-top: -135px;
		padding-top: 310px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media @lg {
			margin-top: -135px;
			padding-top: 310px;
		}
	}
}
