@import '../variables.less';

.section {
    height: 100vh;
    min-height: 100vmin;

    &.section--0 {
        background-image: url('../../img/home-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
