.symbol {
	position: relative;
	.symbol__bg {
		opacity: 0;
	}

	&--pin {
		width: 116px;
		height: 147px;

		.lines {
			path {
				opacity: 0;
			}
		}
	}

	&--file{
		width: 108px;
		height: 113px;
	}

	&--lead {
		width: 8px;
		height: 58px;
	}

	&--horse {
		width: 113px;
		height: 115px;
	}

	&--building {
		width: 126px;
		height: 124px;
	}


}
