.arrow {
	height: 50px;
	width: 50px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 257px;
	z-index: 10;
	outline: none;
	border: none;
	background: none;
	appearance: none;

	&--left {
		transform: rotate(180deg);
		left: 0;
	}

	&--right {
		right: 0;
	}
}

