<footer class="footer content__wrapper">
	<section class="grid__container">
		<div class="grid--11 grid__lg--11 push--1 push__xs--1 push__lg--1">
			<div class="footer__wrapper">
				<div class="footer__aux flex flex--row grid__md--6 grid__lg--4">
					<a href="/" class="logo">
						<img src="{{'assets/img/logo-mob.png'|theme}}" alt="Advocacia Empresarial em Florianópolis">
					</a>
					<div class="flex flex--column">
						<ul class="subnav subnav__aux subnav--alt subnav--footer">
							<li class="subnav__item">
								<a href="/faq">
									F.A.Q.
								</a>
							</li>
							<li class="subnav__item">
								<a href="//blog.muraempresarial.com" target="_blank">
									Blog
								</a>
							</li>
							<li class="subnav__item">
								<a href="/noticias.php">
									Notícias
								</a>
							</li>
						</ul>
						<nav class="menu menu--footer">
							<a href="" class="menu__item js-nav" data-target="section--about">Sobre</a>
							<a href="" class="menu__item js-nav" data-target="section--method">Método</a>
							<a href="" class="menu__item js-nav" data-target="section--occupation">Soluções</a>
							<a href="" class="menu__item js-nav" data-target="section--contact">Contato</a>
						</nav>
					</div>
				</div>
				<div class="footer__aux push__md--1">
					<ul class="social push__lg--1">
						<li clas="social__item">
							<a href="https://twitter.com/muraempresarial" target="_blank" rel="publisher">
								<i class="icon icon--twitter"></i>
							</a>
						</li>
						<li clas="social__item">
							<a href="https://www.facebook.com/muraempresarial/" target="_blank" rel="publisher">
								<i class="icon icon--facebook"></i>
							</a>
						</li>
						<li clas="social__item">
							<a href="https://plus.google.com/+Muraempresarial" target="_blank" rel='publisher'>

								<i class="icon icon--gplus"></i>
							</a>
						</li>
						<li clas="social__item">
							<a href="https://www.instagram.com/muraempresarial/" target="_blank" rel='publisher'>
								<i class="icon icon--instagram"></i>
							</a>
						</li>
					</ul>
					<ul class="footer__contact">
						<li><a href="cal:+554833078753">+55 48 33078753</a></li>
						<li><a href="mailto:contato@muraempresarial.com">contato@muraempresarial.com</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<small class="copyright grid--12">
		© 2017 Murakami & Cantú Advocacia e Consultoria Empresarial. Todos os direitos reservados.
	</small>
</footer>
