[viewBag]
==
<div class="nav">
	<nav role="navigation" class="menu">
		<div class="nav__navbar">
			<ul>
				<li class="nav__item nav__item--active"><a href="/sobre">sobre</a></li>
				<li class="nav__item"><a href="/metodo">método</a></li>
				<li class="nav__item"><a href="/atuacao">atuação</a></li>
				<li class="nav__item"><a href="/contato">contato</a></li>
			</ul>
		</div>
	</nav>
	<span class="bigmac">
		<div id="mobile__nav-icon" class="nav__icon">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</span>
	<nav class="menu menu--mobile container">

		<div class="menu__items push--2 grid__xs--7">
			<a href="" class="menu__item menu__item--active">sobre</a>
			<a href="" class="menu__item">método</a>
			<a href="" class="menu__item">atuação</a>
			<a href="" class="menu__item">contato</a>
		</div>
		<div class="menu__aux push--2 grid__xs--7">
			<ul class="subnav subnav__aux subnav--alt">
				<li class="subnav__item">
					<a href="/faq">
						FAQ
					</a>
				</li>
				<li class="subnav__item">
					<a href="/blog">
						blog
					</a>
				</li>
				<li class="subnav__item">
					<a href="/news">
						notícias
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

