[viewBag]
==
<div class="nav">
	{% if this.page.id == 'home' %}
		<nav role="navigation" class="menu">
			<div class="nav__navbar">
				<ul class="js--menu">
					<li class="nav__item js-nav" data-target="section--about">
						<a href="#">sobre</a>
					</li>
					<li class="nav__item js-nav" data-target="section--method">
						<a href="#">método</a>
					</li>
					<li class="nav__item js-nav" data-target="section--occupation">
						<a href="#">atuação</a>
					</li>
					<li class="nav__item js-nav" data-target="section--contact">
						<a href="#">contato</a>
					</li>
				</ul>
			</div>
		</nav>
	{% endif %}
	<span class="bigmac {% if this.page.id == 'faq' %} bigmac--forfaq {% endif %}">
		<div id="mobile__nav-icon" class="nav__icon {% if this.page.id == 'atuacao' %} nav__icon--invisible {% endif %}">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</span>
</div>

