{# Renders a menu with any child static pages #}

{% set parentOrSelf = page.parent ?: page %}
{% set childPages = parentOrSelf.children %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <a href="mailto:contato@muraempresarial.com.br" class="subnav__contact--email">
                contato@muraempresarial.com.br
            </a>
            <a href="call:4833078753" class="subnav__contact--phone">| 48.33077853</a>
        </div>
        <div class="col-sm-4">
            <ul class="nav nav-pills pull-right">
                <li class="{{ page.url == childPage.url ? 'active' }}">
                    <a href="{{ childPage.url|app }}">
                        {{ childPage.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
