description = "Default layout"
[SeoCmsPage]
[staticPage]
==
<!DOCTYPE html>
<html>
    <head>
        {#{% partial 'site/meta' %}#}
        {% component 'SeoCmsPage' %}
        {% partial 'site/styles' %}
    </head>
    <body class="page__container">
		<main id="main-scrollbar" scrollbar>
			<!-- Header -->
			<header id="layout-header">
				{% partial 'site/subnav' %}
				<div class="grid__container">
					<div class="menu__wrapper">
						<div class="grid--4 push--1 grid__md--3">
							<a href="/" class="logo">
							</a>
						</div>
						<div class="grid--1 push--5 push__md--6 pull__lg--1 grid__xl--9 push__xl--2">
							<!-- Nav -->
							{% partial 'site/static-nav' %}
						</div>
					</div>
				</div>
			</header>
			<!-- Content -->
			<section id="layout-content" class="layout__content">
				{% page %}
			</section>
		</main>
        <!-- Scripts -->
        {% partial 'site/scripts' %}
    </body>
</html>
