==
<section class="section">
	<section class="flex__container">
		<div class="grid__container">
			<div class="method method--section1 grid--12 grid__xs--10 grid__lg--7 push--1 grid--nogutters">
				<header class="method__header push--1">
					<p class="method__sup method__sup--alt">{{order}}</p>
					<p class="method__leadin type--blue">{{title}}</h4>
					<p class="method__sub">
						{{subtitle}}
					</p>
					<small class="method__sub method__sub--small">Apresentação das possibilidades</small>
					{% partial 'svg/file' %}
				</header>
				<h4 class="method__title">Em geral, não há apenas uma solução e sim uma variedade.</h4>
				<p class="method__copy">
					Conhecendo a verdadeira causa do problema, apresentamos, através de orçamento, as possibilidades de soluções, que são oferecidas ao cliente conforme risco e possibilidade de êxito.
				</p>
			</div>
		</div>
	</section>
</section>
